# Kelompok 1
Destira Lestari Saraswati 2100506 <br>
Dicki Fathurohman 2103842 <br>
Mia Karisma Haq 2102165 <br>
Muhamad Firdaus 2101995 

# **Soal Latihan Klasifikasi**
Memprediksi apakah setelah membeli customer akan mengembalikan barang (di Eropa ada perlindungan konsumen yang membuat konsumen dapat mengembalikan barang tanpa alasan asal dalam periode tertentu). Pengembalian barang yang berlebih dapat merugikan pemilik toko.

# LOAD DATASET

In [1]:
%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

url = 'https://raw.githubusercontent.com/dauspairet/Data_Mining-T2_Kelompok-Klasifikasi/main/orders_class.csv'
df_class = pd.read_csv(url)

url2 = 'https://raw.githubusercontent.com/dauspairet/order-train/main/orders_train.csv'
df_train = pd.read_csv(url2)

# GANTI '?'

In [2]:
df_class = df_class.replace('?', np.nan)
df_train = df_train.replace('?', np.nan)

# UBAH TIPE DATA DATE

In [3]:
df_class['orderDate']= pd.to_datetime(df_class['orderDate'])
df_class['deliveryDate']= pd.to_datetime(df_class['deliveryDate'])
df_class['dateOfBirth'] = pd.to_datetime(df_class['dateOfBirth'])
df_class['creationDate'] = pd.to_datetime(df_class['creationDate'])

# Mengubah tipe data menjadi tanggal
df_train['orderDate']= pd.to_datetime(df_train['orderDate'])
df_train['deliveryDate']= pd.to_datetime(df_train['deliveryDate'])
df_train['creationDate'] = pd.to_datetime(df_train['creationDate'])

# Mengganti nilai '1655-04-19' dengan agar konversi dapat berhasil dilakukan
# Jika tidak diganti akan muncul error dikarenakan tahun yang terlalu lampau
df_train['dateOfBirth'] = df_train['dateOfBirth'].replace('1655-04-19', np.nan)
df_train['dateOfBirth'] = pd.to_datetime(df_train['dateOfBirth'])

# HITUNG USIA USER

In [4]:
#membuat kolom baru yang isinya hanya tahun kelahiran saja
df_class['year'] = df_class['dateOfBirth'].dt.year
df_train['year'] = df_train['dateOfBirth'].dt.year

#hitung umur
df_class['age'] = 2013 - df_class['year']
df_train['age'] = 2013 - df_train['year']

# Mengambil rata-rata umur
rata_umur = df_class['age'].mean()
df_class['age'] = df_class['age'].fillna(rata_umur)

# Mengambil rata-rata umur
rata_umur = df_train['age'].mean()
df_train['age'] = df_train['age'].fillna(rata_umur)

#jadikan int
df_train['age'] = df_train['age'].astype("int")
df_class['age'] = df_class['age'].astype("int")

# Warna kosong diisi unknown

In [5]:
df_class['color'].fillna("unknown", inplace=True)
df_train['color'].fillna("unknown", inplace=True)

#ubah tipe datanya
df_class['color'] = df_class['color'].astype("category")
df_train['color'] = df_train['color'].astype("category")

# Hitung usia akun dalam bulan

In [6]:
df_train['accountAge'] = ((df_train.orderDate - df_train.creationDate)/np.timedelta64(1, 'M'))
df_class['accountAge'] = ((df_class.orderDate - df_class.creationDate)/np.timedelta64(1, 'M'))

#ubah tipe datanya
df_train['accountAge'] = df_train['accountAge'].astype("int")
df_class['accountAge'] = df_class['accountAge'].astype("int")

# Hitung selisih hari pemesanan & pengiriman

In [7]:
df_class['shippingDays'] = ((df_class.deliveryDate - df_class.orderDate)/np.timedelta64(1, 'D'))
df_train['shippingDays'] = ((df_train.deliveryDate - df_train.orderDate)/np.timedelta64(1, 'D'))

#ubah data minus jadi NULL
df_class.loc[df_class['shippingDays'] < 0, 'shippingDays'] = np.nan
df_train.loc[df_train['shippingDays'] < 0, 'shippingDays'] = np.nan

#isi pake rata-rata
rata_shipping = df_class['shippingDays'].mean() #hasilnya 16 dibulatkan
df_class['shippingDays'].fillna(rata_shipping, inplace=True)

rata_shipping = df_train['shippingDays'].mean()
df_train['shippingDays'].fillna(rata_shipping, inplace=True)

#ubah tipe datanya
df_train['shippingDays'] = df_train['shippingDays'].astype("int")
df_class['shippingDays'] = df_class['shippingDays'].astype("int")

# Hitung bulan dan Season Order

In [8]:
#buat kolom bulan pengiriman
df_class['month_order'] = df_class['orderDate'].dt.month
df_train['month_order'] = df_train['orderDate'].dt.month

#kolom season
df_class['season'] = df_class['month_order']
df_train['season'] = df_train['month_order']

#ubah jadi nama bulan
df_train['month_order'] = df_train['month_order'].replace(1, 'January')
df_train['month_order'] = df_train['month_order'].replace(2, 'February')
df_train['month_order'] = df_train['month_order'].replace(3, 'March')
df_train['month_order'] = df_train['month_order'].replace(4, 'April')
df_train['month_order'] = df_train['month_order'].replace(5, 'May')
df_train['month_order'] = df_train['month_order'].replace(6, 'June')
df_train['month_order'] = df_train['month_order'].replace(7, 'July')
df_train['month_order'] = df_train['month_order'].replace(8, 'August')
df_train['month_order'] = df_train['month_order'].replace(9, 'September')
df_train['month_order'] = df_train['month_order'].replace(10, 'October')
df_train['month_order'] = df_train['month_order'].replace(11, 'November')
df_train['month_order'] = df_train['month_order'].replace(12, 'December')

df_class['month_order'] = df_class['month_order'].replace(1, 'January')
df_class['month_order'] = df_class['month_order'].replace(2, 'February')
df_class['month_order'] = df_class['month_order'].replace(3, 'March')
df_class['month_order'] = df_class['month_order'].replace(4, 'April')
df_class['month_order'] = df_class['month_order'].replace(5, 'May')
df_class['month_order'] = df_class['month_order'].replace(6, 'June')
df_class['month_order'] = df_class['month_order'].replace(7, 'July')
df_class['month_order'] = df_class['month_order'].replace(8, 'August')
df_class['month_order'] = df_class['month_order'].replace(9, 'September')
df_class['month_order'] = df_class['month_order'].replace(10, 'October')
df_class['month_order'] = df_class['month_order'].replace(11, 'November')
df_class['month_order'] = df_class['month_order'].replace(12, 'December')

#ubah jadi season
df_train['season'] = df_train['season'].replace(1, 'Winter')
df_train['season'] = df_train['season'].replace(2, 'Winter')
df_train['season'] = df_train['season'].replace(3, 'Spring')
df_train['season'] = df_train['season'].replace(4, 'Spring')
df_train['season'] = df_train['season'].replace(5, 'Spring')
df_train['season'] = df_train['season'].replace(6, 'Summer')
df_train['season'] = df_train['season'].replace(7, 'Summer')
df_train['season'] = df_train['season'].replace(8, 'Summer')
df_train['season'] = df_train['season'].replace(9, 'Autumn')
df_train['season'] = df_train['season'].replace(11, 'Autumn')
df_train['season'] = df_train['season'].replace(10, 'Autumn')
df_train['season'] = df_train['season'].replace(12, 'Winter')

df_class['season'] = df_class['season'].replace(1, 'Winter')
df_class['season'] = df_class['season'].replace(2, 'Winter')
df_class['season'] = df_class['season'].replace(3, 'Spring')
df_class['season'] = df_class['season'].replace(4, 'Spring')
df_class['season'] = df_class['season'].replace(5, 'Spring')
df_class['season'] = df_class['season'].replace(6, 'Summer')
df_class['season'] = df_class['season'].replace(7, 'Summer')
df_class['season'] = df_class['season'].replace(8, 'Summer')
df_class['season'] = df_class['season'].replace(9, 'Autumn')
df_class['season'] = df_class['season'].replace(11, 'Autumn')
df_class['season'] = df_class['season'].replace(10, 'Autumn')
df_class['season'] = df_class['season'].replace(12, 'Winter')

#ubah tipe datanya
df_class['month_order'] = df_class['month_order'].astype("category")
df_class['season'] = df_class['season'].astype("category")

df_train['month_order'] = df_train['month_order'].astype("category")
df_train['season'] = df_train['season'].astype("category")

# UBAH SIZE

In [9]:
#hapus tanda '+' pada data
df_class['size'] = df_class['size'].str.replace('+', '', regex=True)
df_train['size'] = df_train['size'].str.replace('+', '', regex=True)

#data size yang penulisannya belum kapital, diganti menjadi kapital
df_class['size'] = df_class['size'].replace('xs', 'XS')
df_class['size'] = df_class['size'].replace('s', 'S')
df_class['size'] = df_class['size'].replace('m', 'M')
df_class['size'] = df_class['size'].replace('l', 'L')
df_class['size'] = df_class['size'].replace('xl', 'XL')
df_class['size'] = df_class['size'].replace('xxl', 'XXL')
df_class['size'] = df_class['size'].replace('xxxl', 'XXXL')

df_train['size'] = df_train['size'].replace('xs', 'XS')
df_train['size'] = df_train['size'].replace('s', 'S')
df_train['size'] = df_train['size'].replace('m', 'M')
df_train['size'] = df_train['size'].replace('l', 'L')
df_train['size'] = df_train['size'].replace('xl', 'XL')
df_train['size'] = df_train['size'].replace('xxl', 'XXL')
df_train['size'] = df_train['size'].replace('xxxl', 'XXXL')

#size akan di konversi ke angka terlebih dahulu
df_class['size'] = df_class['size'].replace('XS', 36)
df_class['size'] = df_class['size'].replace('S', 38)
df_class['size'] = df_class['size'].replace('M', 40)
df_class['size'] = df_class['size'].replace('L', 42)
df_class['size'] = df_class['size'].replace('XL', 44)
df_class['size'] = df_class['size'].replace('XXL', 46)
df_class['size'] = df_class['size'].replace('XXXL', 48)

df_train['size'] = df_train['size'].replace('XS', 36)
df_train['size'] = df_train['size'].replace('S', 38)
df_train['size'] = df_train['size'].replace('M', 40)
df_train['size'] = df_train['size'].replace('L', 42)
df_train['size'] = df_train['size'].replace('XL', 44)
df_train['size'] = df_train['size'].replace('XXL', 46)
df_train['size'] = df_train['size'].replace('XXXL', 48)

#data yang kosong, atau unsized diganti menjadi 0
df_class['size'] = df_class['size'].replace('unsized', 0)
df_class['size'] = df_class['size'].replace(np.nan, 0)

df_train['size'] = df_train['size'].replace('unsized', 0)
df_train['size'] = df_train['size'].replace(np.nan, 0)

#ubah jadi int dan isi median
df_class['size'] = df_class['size'].astype("int")
df_classCol = df_class['size']
df_classCol.replace(to_replace = 0, value = df_classCol.median(), inplace=True)

df_train['size'] = df_train['size'].astype("int")
df_trainCol = df_train['size']
df_trainCol.replace(to_replace = 0, value = df_trainCol.median(), inplace=True)

#jika lebih kecil dari 36 (nilai angka satuan dan belasan pada data)
df_class.loc[df_class['size'] < 36, 'size'] += 32
df_train.loc[df_train['size'] < 36, 'size'] += 32

#jika melebihi dari 48 maka akan diganti menjadi 48
#sehingga saat di konversi menjadi kategori max nay yaitu XXXL
df_class.loc[df_class['size'] > 48, 'size'] = 48
df_train.loc[df_train['size'] > 48, 'size'] = 48

#selaraskan size agar mudah dikonversi ke abjad
df_class.loc[df_class['size'].between(36, 38, inclusive=False), 'size'] = 36
df_class.loc[df_class['size'].between(38, 40, inclusive=False), 'size'] = 38
df_class.loc[df_class['size'].between(40, 42, inclusive=False), 'size'] = 40
df_class.loc[df_class['size'].between(42, 44, inclusive=False), 'size'] = 42
df_class.loc[df_class['size'].between(44, 46, inclusive=False), 'size'] = 44
df_class.loc[df_class['size'].between(46, 48, inclusive=False), 'size'] = 46

df_train.loc[df_train['size'].between(36, 38, inclusive=False), 'size'] = 36
df_train.loc[df_train['size'].between(38, 40, inclusive=False), 'size'] = 38
df_train.loc[df_train['size'].between(40, 42, inclusive=False), 'size'] = 40
df_train.loc[df_train['size'].between(42, 44, inclusive=False), 'size'] = 42
df_train.loc[df_train['size'].between(44, 46, inclusive=False), 'size'] = 44
df_train.loc[df_train['size'].between(46, 48, inclusive=False), 'size'] = 46

# Mengubah tipe data menjadi string terlebih dahulu agar angka dapat diganti menjadi huruf
df_class['size'] = df_class['size'].astype("str")
df_train['size'] = df_train['size'].astype("str")

# Mengganti nilai angka menjadi huruf
df_class.loc[df_class['size'] < '36', 'size'] = 'XXS'
df_class['size'] = df_class['size'].replace('36', 'XS')
df_class['size'] = df_class['size'].replace('38', 'S')
df_class['size'] = df_class['size'].replace('40', 'M')
df_class['size'] = df_class['size'].replace('42', 'L')
df_class['size'] = df_class['size'].replace('44', 'XL')
df_class['size'] = df_class['size'].replace('46', 'XXL')
df_class['size'] = df_class['size'].replace('48', 'XXXL')

df_train.loc[df_train['size'] < '36', 'size'] = 'XXS'
df_train['size'] = df_train['size'].replace('36', 'XS')
df_train['size'] = df_train['size'].replace('38', 'S')
df_train['size'] = df_train['size'].replace('40', 'M')
df_train['size'] = df_train['size'].replace('42', 'L')
df_train['size'] = df_train['size'].replace('44', 'XL')
df_train['size'] = df_train['size'].replace('46', 'XXL')
df_train['size'] = df_train['size'].replace('48', 'XXXL')

# Mengubah tipe data menjadi kategori
df_class['size'] = df_class['size'].astype("category")
df_train['size'] = df_train['size'].astype("category")

In [10]:
#ubah yang masih objek
df_train['salutation'] = df_train['salutation'].astype("category")
df_train['state'] = df_train['state'].astype("category")

df_class['salutation'] = df_class['salutation'].astype("category")
df_class['state'] = df_class['state'].astype("category")

In [11]:
df_train['percent_return'] = df_train.groupby('customerID')['returnShipment'].transform('sum') / df_train.groupby('customerID')['returnShipment'].transform('count')

#buat data class nya
# df_class['percent_return'] = df_class.groupby('itemID')['returnShipment'].transform('sum') / df_class.groupby('itemID')['returnShipment'].transform('count')

# Hapus kolom yang tidak digunakan

In [12]:
# hapus kolom yang tidak digunakan
df_class = df_class.drop(['orderItemID', 'dateOfBirth', 'year', 'orderDate', 'deliveryDate', 'creationDate'], axis = 1)
df_train = df_train.drop(['orderItemID', 'dateOfBirth', 'year', 'orderDate', 'deliveryDate', 'creationDate'], axis = 1)

In [13]:
df_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50078 entries, 0 to 50077
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   itemID          50078 non-null  int64
 1   size            50078 non-null  category
 2   color           50078 non-null  category
 3   manufacturerID  50078 non-null  int64
 4   price           50078 non-null  float64
 5   customerID      50078 non-null  int64
 6   salutation      50078 non-null  category
 7   state           50078 non-null  category
 8   age             50078 non-null  int32
 9   accountAge      50078 non-null  int32
 10  shippingDays    50078 non-null  int32
 11  month_order     50078 non-null  category
 12  season          50078 non-null  category
dtypes: category(6), float64(1), int32(3), int64(3)
memory usage: 2.4 MB

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481092 entries, 0 to 481091
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   itemID          481092 non-null  int64
 1   size            481092 non-null  category
 2   color           481092 non-null  category
 3   manufacturerID  481092 non-null  int64
 4   price           481092 non-null  float64
 5   customerID      481092 non-null  int64
 6   salutation      481092 non-null  category
 7   state           481092 non-null  category
 8   returnShipment  481092 non-null  int64
 9   age             481092 non-null  int32
 10  accountAge      481092 non-null  int32
 11  shippingDays    481092 non-null  int32
 12  month_order     481092 non-null  category
 13  season          481092 non-null  category
 14  percent_return  481092 non-null  float64
dtypes: category(6), float64(2), int32(3), int64(4)
memory usage: 30.3 MB

In [15]:
df_train.head(10)

,itemID,size,color,manufacturerID,price,customerID,salutation,state,returnShipment,age,accountAge,shippingDays,month_order,season,percent_return
0,186,M,denim,25,69.90,794,Mrs,Baden-Wuerttemberg,0,48,11,2,April,Spring,0.454545
1,71,M,ocher,21,69.95,794,Mrs,Baden-Wuerttemberg,1,48,11,2,April,Spring,0.454545
2,71,M,curry,21,69.95,794,Mrs,Baden-Wuerttemberg,1,48,11,2,April,Spring,0.454545
3,22,M,green,14,39.90,808,Mrs,Saxony,0,54,2,10,April,Spring,0.000000
4,151,S,black,53,29.90,825,Mrs,Rhineland-Palatinate,0,49,13,10,April,Spring,0.111111
5,598,XXL,brown,87,89.90,825,Mrs,Rhineland-Palatinate,0,49,13,10,April,Spring,0.111111
6,15,S,black,1,129.90,825,Mrs,Rhineland-Palatinate,0,49,13,10,April,Spring,0.111111
7,32,XXL,brown,3,21.90,850,Mrs,North Rhine-Westphalia,1,65,13,1,April,Spring,1.000000
8,32,XXL,red,3,21.90,850,Mrs,North Rhine-Westphalia,1,65,13,1,April,Spring,1.000000
9,57,XXL,green,3,39.90,850,Mrs,North Rhine-Westphalia,1,65,13,1,April,Spring,1.000000

# One-hot encoding

In [16]:
df_class = pd.get_dummies(data=df_class, columns=['color', 'salutation','state','size', 'month_order', 'season'])
df_train = pd.get_dummies(data=df_train, columns=['color', 'salutation','state','size', 'month_order', 'season'])

# Sesuaikan atribut yang terdapat pada data train dan data class

In [17]:
df_train = df_train.drop(['color_amethyst', 'color_aviator', 'color_avocado', 'color_bronze', 'color_brwon', 'color_caramel', 'color_champagner', 'color_cobalt blue', 'color_copper coin', 'color_cortina mocca', 'color_creme', 'color_curled', 'color_currant purple', 'color_dark garnet', 'color_dark grey', 'color_ebony', 'color_ivory', 'color_mango', 'color_opal', 'color_perlmutt', 'color_unknown', 'color_vanille' ,'month_order_August', 'month_order_December', 'month_order_February', 'month_order_January', 'month_order_July', 'month_order_June', 'month_order_March', 'month_order_May', 'month_order_November', 'month_order_October', 'month_order_September', 'season_Autumn', 'season_Summer', 'season_Winter'], axis = 1)

Hapus atribut pada data train yang tidak terdapat pada data class

# Kelas Target

In [18]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df_train['returnShipment'])
Y = le.transform(df_train['returnShipment'])

In [19]:
X = df_train.drop('returnShipment',axis=1)

Target yang digunakan yaitu returnShipment, sehingga akan diprediksi nantinya apakah barang akan di return atau tidak

# Split Dataset

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=123)
#simpan nama kolom untuk keperluan prediksi nanti
import pickle
with open('D:orders_x_train_columns.pickle', 'wb') as fp:
    pickle.dump(X_train.columns, fp)

from sklearn.model_selection import train_test_split
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=123)

Dataset dibagi, sebagian untuk data training dan sebagian untuk data test

# Model menggunakan XGBOOST

#### Naive Bayes

In [34]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

clf1 = GaussianNB()
clf1.fit(X_train, Y_train)
Y_pred = clf1.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.6083621737910392
              precision    recall  f1-score   support

           0       0.60      0.74      0.66     49723
           1       0.63      0.47      0.54     46496

    accuracy                           0.61     96219
   macro avg       0.61      0.60      0.60     96219
weighted avg       0.61      0.61      0.60     96219

Dengan menggunakan naive bayes, skor f1-1 mencapai angka 0.54

#### Decision Tree

In [35]:
from sklearn import tree
clf2 = tree.DecisionTreeClassifier()
clf2.fit(X_train, Y_train)
Y_pred = clf2.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.6867250750891196
              precision    recall  f1-score   support

           0       0.70      0.70      0.70     49723
           1       0.68      0.67      0.68     46496

    accuracy                           0.69     96219
   macro avg       0.69      0.69      0.69     96219
weighted avg       0.69      0.69      0.69     96219

Dengan menggunakan decision tree, skor f1-1 mencapai angka 0.68

#### Random Forest

In [36]:
from sklearn.ensemble import RandomForestClassifier
clf3 = RandomForestClassifier(n_estimators=50, random_state=123)
clf3.fit(X_train, Y_train)
Y_pred = clf3.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.7472016961307019
              precision    recall  f1-score   support

           0       0.76      0.74      0.75     49723
           1       0.73      0.76      0.74     46496

    accuracy                           0.75     96219
   macro avg       0.75      0.75      0.75     96219
weighted avg       0.75      0.75      0.75     96219

Dengan menggunakan random forest, skor f1-1 mencapai angka 0.74

#### XGBOOST

In [21]:
import xgboost as xgb
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [22]:
clf = xgb.XGBClassifier(objective='binary:logistic', eval_metric =
"mlogloss", max_depth = 10, gamma=0.1, subsample = 0.8, learning_rate=0.1,
n_estimators = 140, nthread=4)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.7632796017418597
              precision    recall  f1-score   support

           0       0.80      0.73      0.76     49723
           1       0.73      0.80      0.77     46496

    accuracy                           0.76     96219
   macro avg       0.76      0.76      0.76     96219
weighted avg       0.77      0.76      0.76     96219

Dengan menggunakan xgboost, skor f1-1 mencapai angka 0.77

Algoritma xgboost memiliki skor f1-1 yang paling tinggi dibandingkan dengan decision tree, naive bayes maupun random forest. Sehingga model ini yang akan digunakan nantinya untuk memprediksi data

#### Memeriksa fitur yang paling penting bagi model

In [38]:
feature_importances = pd.DataFrame(clf.feature_importances_,index = X_train.columns,
columns=['importance']).sort_values('importance',ascending=False)
print(feature_importances)

                    importance
percent_return        0.184158
shippingDays          0.052583
price                 0.022339
color_pallid          0.012993
manufacturerID        0.010762
...                        ...
color_leopard         0.000000
color_almond          0.000000
color_antique pink    0.000000
color_oliv            0.000000
color_lemon           0.000000

[105 rows x 1 columns]

Fitur-fitur yang paling berpengaruh terhadap prediksi pengembalian barang, diantaranya percent return, shipping day, price, color_pallid, dan manufacturer ID. Percent return sangat berpengaruh dalam keputusan pengembalian barang, karena semakin tinggi persentase pengembalian barang yg dilakukan oleh customer, maka semakin besar kemungkinan customer tersebut melakukan pengembalian barang lagi di kemudian hari. Kemudian, ada shipping days dimana waktu pengiriman juga cukup berpengaruh dalam keputusan pengembalian barang, bisa saja barang yang terlalu lama dikirim membuat customer sudah tidak membutuhkannya lagi dan di return. Kemudian ada price, semakin mahal harga barang maka akan semakin tinggi kemungkinan dikembalikan jika tidak sesuai dengan pesanan customer.

### Menyimpan model dan memprediksi data baru
#### Simpan model

In [27]:
import joblib
joblib.dump(clf, "D:\\orders_train.joblib")

['D:\\orders_train.joblib']

Menyimpan model hasil train dengan menggunakan library joblib, model yang digunakan adalah model xgboost

#### Masukkan data yang akan diprediksi

In [28]:
for i in df_train['customerID'].unique():
  df_class.loc[(df_class['customerID'] == i), "percent_return"] = df_train[(df_train['customerID'] == i)]['percent_return'].values[0]

In [29]:
df_class2 = df_class

Samakan data yang akan diprediksi dengan data training

In [30]:
import pickle
with open('D:orders_x_train_columns.pickle', 'rb') as fp:
    X_train_column = list(pickle.load(fp))
df_class2 = df_class2[X_train_column]

Menyimpan nama kolom sebelum proses training

In [31]:
import joblib
clf = joblib.load("D:\\orders_train.joblib")
clf.predict(df_class2)

array([0, 0, 0, ..., 1, 0, 0])

Load dan prediksi data menggunakan model yang sudah disimpan tadi

In [41]:
i = 1 
with open("D://Kuliah//Data Mining//order_class.txt", "w") as o:
    print("{0};{1}".format("orderItemID", "prediction"), file = o)     
    for line in clf.predict(df_class2):         
        print("{0};{1}".format(i, line), file=o)         
        i+=1

Data hasil prediksi akan di tulis dan diexport ke sebuah file bernamakan order_class dengan format .txt